$ivory-color: #D1D0D0;
$light-rose-color: #DEB3AD;
$rose-color: #5C4E4E;
$gray-color: #BDC3CB;
$pewter-color: #D1D0D0;

body{
  background-color: $ivory-color;
  line-height: 2;
}

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
  } 
   
  .navbar { 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    height: 75px; 
    background-color: $rose-color; 
    columns: $rose-color;
    z-index: 9999; 
  } 
   
  .Logo { 
    font-size: 30px; 
    color: $ivory-color;
  } 
   
  .nav-links { 
    display: flex; 
    justify-content: flex-end; 
    list-style: none; 
    width: 75%; 
  } 
   
  .campaigns,
  .products { 
    text-decoration: none; 
    color: $pewter-color; 
    font-size: 20px; 
    padding: 10px 20px; 
    margin: 0 10px; 
    cursor: pointer; 
    color: $ivory-color;
  }

  .campaigns:hover,
  .products:hover { 
    color: $pewter-color;
  }

  .mobile-menu-icon{
    display: none;
  }

  @media screen and (max-width: 1100px) {
    .Logo{
        display: flex;
        position: absolute;
        top: 15px;
        left: 35px;
        color: $ivory-color;
    }

    .nav-links{
        display: none;
    }

    .nav-links-mobile{
        position: absolute;
        display: block;
        list-style: none;
        background-color: $pewter-color;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
    }

    
    .nav-links-mobile:active{
      position: absolute;
      display: block;
      list-style: none;
      background-color: $pewter-color;
      left: 0;
      top: 75px;
      transition: all 0.5s ease-out;
      width: 100%;
  }

    .campaigns, 
    .products{
        color: white;
        text-align: center;
         padding: 32px;
        width: 100%;
        transition: all 0.5s ease;
    }


    .sign-up{
        border: none;
    }

    .mobile-menu-icon{
        display: block;
        position: absolute;
        font-size: 30px;
        color: white;
        top: 15px;
        right: 25px;
    }

    .mobileButtonMenu{
      background-color: $rose-color;
    }
  }

  